# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Git
.git
.gitignore
.github/

# Development tools
.vscode/

# Notebooks
notebooks/
.ipynb_checkpoints/

# Local outputs
reports/
model_artifacts/

# Documentation
README.md