# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
.venv_test/

# Models
*.joblib
*.pkl

# Data 
# data/raw/*
# data/processed/*

# Reports
reports/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/